.nav-bar{
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


@media screen and (max-width: 700px){
    .nav-icons{
        
    }
}